{% extends "index.html" %}
{% block start %}

<div class="content-section col-md-8 col-md-offset-2">
  <center>
    <h2>Reset Password</h2>
    
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="code" value="{{ code }}">
      
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password" required><br><br>
      
      <label for="confirm_password">Confirm Password:</label>
      <input type="password" id="confirm_password" name="confirm_password" required><br><br>
      
      <input type="submit" value="Reset Password">
    </form>
    
    <br>
    <p><a href="{% url 'login' %}">Back to Login</a></p>
  </center>
</div>

{% endblock start %}
